body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen', 'Cambria', 'Helvetica Neue', 'Lucida Grande', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Nymphette SE';
}
